body
{
	background-color: #322f3e;
	color : #f5f0f1;

}

@font-face
{
	font-family: weblysleekuisl;
	src: url("../fonts/weblysleekuisl.ttf");
}

@font-face
{
	font-family: weblysleekuisb;
	src: url("../fonts/weblysleekuisb.ttf");
}

@font-face
{
	font-family: weblysleekuil;
	src: url("../fonts/weblysleekuil.ttf");
}
#gradient{
	 height: 315px;
}
.navicon
{
	vertical-align: text-bottom;
	width: 30px;
	height: 30px;
}
.navbar
{
	background-color: #171524;
	border-style: none;
}
.navbar-default
{
	margin-bottom: 0px;
}

.navbar-brand
{
	width: 250px;
	height: 87.5px;
}
.container
{
	width: 100%;
}

.dropdown-menu
{
	color: black;
}

.pro
{
	height: 315px;
}

.profile
{
	width: 85%;
}

.post
{
	background-color: #3d3041;
	margin-top: 10px;
	margin-bottom: 10px; 
}

.posting
{
	padding-left: 0px;
	padding-right: 0px;
}

a
{
	font-family: weblysleekuil;
	font-size: 1.2em;
	vertical-align: center;
}

li
{
	text-align: center;
	list-style: none;
}

ul
{
	padding: 0px;	
}

h2
{
	font-family: weblysleekuisl;
	font-size: 1.8em;
	text-align: center;
	margin-bottom: 20px;
}

h3
{
	vertical-align: middle;
	margin-top: 65px;
	width: 60%;
	text-align: center;
	font-family: weblysleekuisb;
	font-size: 2.2em;
}

h4
{
	font-size: 1.6em;
	font-family: weblysleekuisl;
}

h5
{
	font-size: 1.2em;
	font-family: weblysleekuisl;
}

.btn-danger
{
	border-radius: 0;
	font-size: 0.45em;
	font-family: weblysleekuil;
	margin-top: 10px;
}

.form-control
{
	border-style: none none solid none;
	width: 95%;
	background-color: transparent;
	height: 100px;
	border-radius: 0px;
}

img
{
	width: 20px;
	height: 20px;
	margin-top: 5px;
	margin-left: 12px;
}

.pict
{
	margin-top: 30px;
	margin-left: 30px;
	float: left;
	width: 230px;
	height: 230px;
	background-color: white;

}
.modal-pict{
	width: 230px;
	height: 230px;
}
.post1
{
	display: block;
	background-color: #3d3041;
}

.post2
{
	display: none;
	background-color: #3d3041;
}

.atr
	{
		text-align: center;
		width: 15%;
		margin-top:20px;
	}

.atr2
	{
		text-align: center;
		width: 15%;
	}

.list
{
	margin-bottom: 15px;
	width: 75px;
	height: 75px;
	background-color: white;
}

.list2
{
	width: 60px;
	height: 60px;
	background-color: white;
	margin-top: 20px
}

hr
{
	margin-bottom: 0px;
}



@media screen and (max-width: 1000px)
{
	.pro
	{
		height: 290px;	
	}
	
	.profile
	{
		width: 85%;
	}
	.list
	{
		width: 100px;
		height: 100px;
	}
	h3
	{
		width: 60%;
		margin-top: 60px;
		font-size: 2em;
	}
	
	h4
	{
		font-size: 1.5em;
	}

	.atr
	{
		width: 50%;
	}
	.pict
	{
		width: 220px;
		height: 220px;
	}
}

@media screen and (max-width: 700px)
{
	.pro
	{
		height: 270px;	
	}

	.posting
	{
		padding-left: 25px;
	}

	.profile
	{
		width: 90%;
	}
	
	.list
	{
		width: 90px;
		height: 90px;
	}

	.list2
	{
		width: 55px;
		height: 55px;
	}
	
	h3
	{
		width: 60%;
		margin-top: 50px;
		font-size: 1.8em;
	}
	
	h4
	{
		font-size: 1.4em;
	}

	.btn-danger
	{
		font-size: 0.5em;
	}
	.atr
	{
		width: 50%;
	}
	
	.pict
	{
		width: 210px;
		height: 210px;
	}
	#gradient{
		height: 290px;
	}
}

@media screen and (max-width: 600px)
{
	.pro
	{
		height: 260px;	
	}

	.posting
	{
		padding-left: 27px;
	}

	.profile
	{
		width: 93%;
	}
	
	.list
	{
		width: 85px;
		height: 85px;
	}

	.list2
	{
		width: 50px;
		height: 50px;
	}
	
	.btn-danger
	{
		font-size: 0.5em;
	}

	h3
	{
		width: 70%;
		margin-top: 45px;
		font-size: 1.7em;
	}
	h4
	{
		font-size: 1.4em;
	}
	.atr
	{
		width: 50%;
	}
	
	.pict
	{
		width: 200px;
		height: 200px;
	}
	#gradient{
		height: 280px;
	}
}

@media screen and (max-width: 550px)
{
	.pro
	{
		height: 250px;	
	}

	.posting
	{
		padding-left: 27px;
	}

	.profile
	{
		width: 95%;
	}
	
	.list
	{
		width: 80px;
		height: 80px;
	}

	.list2
	{
		width: 50px;
		height: 50px;
		margin-top: 20px
	}
	
	h3
	{
		width: 60%;
		margin-top: 45px;
		font-size: 1.6em;
	}
	h4
	{
		font-size: 1.3em;
	}
	.atr
	{
		width: 50%;
	}
	
	.pict
	{
		width: 190px;
		height: 190px;
	}
	#gradient{
		height: 275px;
	}
}

@media screen and (max-width: 500px)
{
	.pro
	{
		height: 240px;	
	}

	.posting
	{
		padding-left: 30px;
	}

	.profile
	{
		width: 97%;
	}
	
	.list
	{
		width: 70px;
		height: 70px;
	}

	.list2
	{
		width: 50px;
		height: 50px;
	}
	
	h3
	{
		width: 60%;
		margin-top: 45px;
		font-size: 1.5em;
	}
	h4
	{
		font-size: 1.3em;
	}
	.atr
	{
		width: 50%;
	}
	
	.pict
	{
		width: 180px;
		height: 180px;
	}
	#gradient{
		height: 250px;
	}
}

@media screen and (max-width: 470px)
{
	.pro
	{
		height: 230px;	
	}

	.posting
	{
		padding-left: 30px;
	}

	.profile
	{
		width: 100%;
	}
	
	.list
	{
		width: 65px;
		height: 65px;
	}

	.list2
	{
		width: 50px;
		height: 50px;
		margin-left: -8px;
	}
	
	h3
	{
		width: 60%;
		margin-top: 45px;
		font-size: 1.5em;
	}
	h4
	{
		font-size: 1.2em;
	}
	.atr
	{
		width: 50%;
	}
	
	.pict
	{
		width: 170px;
		height: 170px;
	}
}


@media screen and (max-width: 450px)
{
	.pro
	{
		height: 210px;	
	}

	.posting
	{
		padding-left: 30px;
	}

	.profile
	{
		width: 100%;
	}
	
	.list
	{
		width: 65px;
		height: 65px;
	}

	.list2
	{
		width: 50px;
		height: 50px;
		margin-left: -8px;
	}
	
	h3
	{
		width: 60%;
		margin-top: 45px;
		font-size: 1.2em;
	}
	h4
	{
		font-size: 1.2em;
	}
	.atr
	{
		width: 50%;
		margin-top: -10px;
	}
	
	.pict
	{
		width: 150px;
		height: 150px;
	}
	#gradient{
		height: 230px;
	}
}
@media screen and (max-width: 430px)
{
	.pro
	{
		height: 200px;	
	}

	.posting
	{
		padding-left: 30px;
	}

	.profile
	{
		width: 100%;
	}
	
	.list
	{
		width: 65px;
		height: 65px;
	}

	.list2
	{
		width: 50px;
		height: 50px;
		margin-left: -13px;
	}
	
	h3
	{
		width: 60%;
		margin-top: 45px;
		font-size: 1em;
	}
	h4
	{
		font-size: 1em;
	}
	.atr
	{
		width: 50%;
		margin-top: -10px;
	}
	
	.pict
	{
		width: 140px;
		height: 140px;
	}
	#gradient{
		height: 220px;
	}
}
@media screen and (max-width: 1200px)
{
	.atr
	{
		width: 60%;
	}
	.atr2
	{
		display:none;
	}
	.post1
	{
		display: none;
	}
	.post2
	{
		display: block;
	}
}