
body{
	 background-color: #000000;
	 padding: 0px;
	 margin: 0px;
	 width: 100%;
	 height: 100%;
	 color: white;
	 font-family: weblysleekuisb;
}
@font-face
{
	font-family: weblysleekuisb;
	src: url("../fonts/weblysleekuisb.ttf");
}
@font-face
{
	font-family: weblysleekuisl;
	src: url("../fonts/weblysleekuisl.ttf");

}
@font-face
{
	font-family: weblysleekuil;
	src: url("../fonts/weblysleekuil.ttf");

}

h1
{
	font-family: weblysleekuisb;
	font-size: 3.7em;
	letter-spacing: 1px;
}

span
{
	font-family: weblysleekuisb;
}

h5
{
	font-family: weblysleekuil;
}

.container
{
	margin-top: 25px;
	width: 50%;

}

@media screen and (max-width: 500px)
{
	.container
	{
		width: 65%;
	}
	h1
	{
		font-size: 3em;
	}
	label
	{
		font-size: 0.6em;
	}
	.btn
	{
		font-size: 0.6em;
	}
}
.form-group
{
	margin-top: 30px;
}

.form-control
{
	border-style: none none solid none;
	color: white;
	font-family: weblysleekuisl;
	font-weight: 500;
	border-color: white;
	background-color: transparent;
	box-shadow: none;
}
.form-control:focus
{
	outline: none;
}
.btn{
	background-color: #332F3E;
	border-style: none;
	border-radius: none;
	font-size: 1.2em;
}

label
{
	margin-top: 10px;
	font-family: weblysleekuisl;
	font-weight: 500;
	font-size: 1.2em;
}