body
{
	background-color: #322f3e;
	color : #f5f0f1;

}

@font-face
{
	font-family: weblysleekuisl;
	src: url("../fonts/weblysleekuisl.ttf");
}

@font-face
{
	font-family: weblysleekuisb;
	src: url("../fonts/weblysleekuisb.ttf");
}

@font-face
{
	font-family: weblysleekuil;
	src: url("../fonts/weblysleekuil.ttf");
}

.navbar
{
	background-color: #171524;
	border-style: none;
	
}

.navbar-default
{
	margin-bottom: 0px;
}

.navbar-brand
{
	width: 250px;
	height: 87.5px;
}

.container
{
	width: 100%;
	margin-right: 0px;
}

.userprofile
{
	z-index: 1;
}

.profilepict
{	
	position: absolute;
	border-radius: 50%;
	background-color: white;
	width: 100px;
	height: 100px;
	z-index: 1;
}

.profile
{
	margin-left: 0px;
}

.profile1
{
	height: 120px;
	z-index: -1;
}

.profile2
{
	background-color: #3d3041;
	height: 120px;
	z-index: -1;
}

.post
{
	background-color: #3d3041;
}

.btn
{
	margin-top: 10px;
}

.btn-danger
{
	border-radius: 0;
	font-family: weblysleekuil;
	line-height: 1.2em;
}

.form-group
{
	height: 120px;
	padding: 20px;
	margin-bottom: 0px;
}

.form-control
{
	border-style: none none solid none;
	width: 100%;
	background-color: transparent;
	border-radius: 0px;
}

img
{
	width: 22px;
	height: 22px;
	margin-top: 10px;
	margin-left: 10px;
}

.friendreq
{
	background-color: #3d3041;
	height: 400px;
}

h2
{
	margin-top: 33px;
	font-size: 2em;
	font-family: weblysleekuisb;
}

h3
{
	margin-bottom: 20px;
	vertical-align: top;
	text-align: center;
	font-family: weblysleekuisb;
	font-size: 1.9em;
}

h4
{
	margin-top: 23px;
	margin-bottom:11px;
	font-size: 1.5em;
	font-family: weblysleekuisl;
}

h5
{
	margin-top: 28px;
	margin-bottom: 15px;
	font-size: 1.6em;
	font-family: weblysleekuisl;
}

p
{
	font-size: 0.9em;
	margin-top: 20px;
}

.img-circle
{
	background-color: white;
	width: 50px;
	height: 50px;
}

.atr
{
	margin-top: 30px;
	width: 40px;
	height: 40px;
}

.atr2
{
	border-radius: 50%;
	background-color: white;
	width: 65px;
	height: 65px;
}

.like
{
	width: 22px;
	height: 22px;
}

.navicon
{
	vertical-align: text-bottom;
	width: 30px;
	height: 30px;
}

.icon-bar
{
	width: 30px;
	height: 30px;
}

.share
{
	margin-bottom: 20px;
	margin-right: 5px;
	float: right;
	width: 22px;
	height: 22px;
}
.comment
{
	margin-bottom: 20px;
	float: right;
	width: 22px;
	height: 22px;	
}
.contohpost
{
	margin-left: 0px;
	width: 100%;
	height: 300px;
}

.sponsor
{
	margin-top: 25px;
	background-color: #3d3041;
	height: 350px;
}

.leftside
{
	margin-top: 25px;
	background-color: #3d3041;
	height: 320px;
}

.peoplepost
{
	margin-top: 25px;
	background-color: #3d3041;
}

@media screen and (max-width: 1200px)
{
	.col-lg-3
	{
		display: none;
	}

	.post
	{
		display: block;
	}

	h2
	{
		font-size: 1.5em;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 0px;
	}

	.contohpost
	{
		height: 380px;
	}
}

@media screen and (max-width: 992px)
{
	.col-lg-3
	{
		display: none;
	}

	.post
	{
		display: block;
	}

	h2
	{
		font-size: 1.5em;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 0px;
	}

	.contohpost
	{
		height: 290px;
	}
}

@media screen and (max-width: 770px)
{
	.col-lg-3
	{
		display: none;
	}

	.post
	{
		display: block;
	}

	.atr2
	{
		width: 60px;
		height: 60px;
	}

	h2
	{
		font-size: 1.2em;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 0px;
	}

	.like
	{
		width: 20px;
		height: 20px;
	}

	.comment
	{
		width: 20px;
		height: 20px;
	}

	h5
	{
		margin-top: 25px;
		margin-bottom: 15px;
		font-size: 1.5em;
		font-family: weblysleekuisl;
	}

	p
	{	
		font-size: 0.88em;
		margin-top: 20px;
	}

	.contohpost
	{
		height: 270px;
	}
}


@media screen and (max-width: 650px)
{
	.contohpost
	{
		height: 235px;
	}
}

@media screen and (max-width: 580px)
{
	.contohpost
	{
		height: 210px;
	}
}

@media screen and (max-width: 540px)
{
	.col-lg-3
	{
		display: none;
	}

	.post
	{
		display: block;
	}

	.atr2
	{
		width: 55px;
		height: 55px;
	}

	h2
	{
		font-size: 1.2em;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 0px;
	}

	.like
	{
		width: 20px;
		height: 20px;
	}

	.comment
	{
		width: 20px;
		height: 20px;
	}

	h5
	{
		margin-top: 25px;
		margin-bottom: 15px;
		font-size: 1.5em;
		font-family: weblysleekuisl;
	}

	p
	{	
		font-size: 0.86em;
		margin-top: 20px;
	}

	.contohpost
	{
		height: 180px;
	}
}
